/*Variables*/
$font-text: 'Roboto', sans-serif;
$font-header: 'Montserrat', sans-serif;
$color-first: #f1f2f6;
$color-second: #eccc68;
$color-third: #ffa502;
$color-fourth: #DAF7A6;
$color-light: #ffffff;
$color-dark: #2c2c54;
$transition: 0.5s;


/*Global*/
*, *::before, *::after {
  box-sizing: border-box;
}

.section-title {
  padding: 50px 0 30px 0;
  font-weight: 600;
  font-variant: small-caps;
  text-align: center;
  font-size: 50px;
}

.section-subtitle {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.page-subtitle {
  color: white;
  font-size: 30px;
}

.page-title {
  margin-top: 0;
  padding-top: 50px;
  font-size: 100px;
  font-weight: bold;
  padding: 3px;
  color: $color-light;
  border-bottom: 2px solid $color-dark;
  border-radius: 10%;
  letter-spacing: 5px;
  font-variant: small-caps;
}

p {
  padding: 0 30px;
  text-align: center;
  font-size: 20px;
}

.btn:hover {
    background-position: 0 100%;
    color: white;
}

.btn-one {
  margin-top: 100px;
  text-align: center;
  border-radius: 15%;
  border-top: none;
  font-size: 50px;
  color: white;
  border-color: grey;
  background-image: linear-gradient(200deg, grey 50%, transparent 90%);
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  border-radius: 5px;
  font-family: $font-text;
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  font-variant: small-caps;
  font-weight: bold;
  background-position: 20% 0;
  background-size: 300%;
  transition: $transition;
}

/*Navigation*/
.navigation {
.navbar-brand {
  left: 2px;
  text-align: left;
  margin-left: 0;
  padding-right: 100px;
  flex-wrap: wrap;
      position: relative;
      justify-content: flex-start
}

li {
    display: inline-block;
    padding-right: 36px;
    position: relative;
}


a {
    text-decoration: none;
    color: $color-light;
        display: inline-block;
        padding-right: 36px;
        position: relative;
}

a:hover {
    color: grey;
}

ul li:hover ul {
    display: block;
}

li ul {
    display: inline-block;
    text-align: end;
    position: absolute;
    background-color: black;
}

ul li ul li a {
    color: orange;
}


ul li ul li:hover a {
    color: $color-second;
}

li:hover li {
  display: block;
  text-align: center;
  }

ul ul li {
  top: 6px;
  padding: 0 20px;

}

}

.navigation {
    ul {
        li {
            ul {
                li {
            display: none;
                }
            }
        }
    }
}

/*Header*/
.head-img {
    background-image: url(https://images.pexels.com/photos/919073/pexels-photo-919073.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    font-family: $font-header;
    color: $color-dark;
    height: 1000px;
    text-align: center;
    height: 100vh;
    top: 0;
    position: relative;
    background-size: cover;
}

.splash-inner {
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
    padding-top: 300px;
}

/*Services*/
.services {
  padding-bottom: 80px;
  padding-top: 50px;
}

.services-boxes .fas {
        margin-top: 50px;
        text-shadow: 0 0 3px #000;
        font-size: 100px;
        color: #EAB543;
}

.boxes  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    flex: 0 0 33.333%;
    position: relative;
    text-align: center;
}

/*Card's*/
.offer {
  background: #f5f6fa;
}

.card-image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.our-cars {
  text-align: center;
}

.card {
  margin-top: 30px;
  margin-left: 45px;
  width: 400px;
}

/*Footer*/
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px auto;
    background: grey;

li {
    font-size: 0;
    display: inline-block;
}

i {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 30px;
  color: white;

}
.fa-copyright {
  font-size: 20px;
  padding-top: 10px;
  padding-right: 0;
  font-style: none;
}
}

.icons i:hover {
    transform: scale(1.2);
}

/*Media*/
@media (max-width: 767px) {
  .boxes {
    flex-direction: column;
  }

  .our-cars {
    text-align: center;
  }

  .card {
    margin-top: 1px;
    margin-left: 1px;
    width: 100%;
  }

  .footer {
    i {
      padding-top: 3px;
      padding-left: 5px;
      padding-right: 10px;
      font-size: 25px;
      color: white;
    }

    .fa-copyright {
      font-size: 20px;
      padding-top: 2px;
      padding-right: 0;
      font-style: none;
    }
  }

  .page-subtitle {
    font-size: 20px;
  }

  .page-title {
    margin-top: 0;
    padding-top: 10px;
    font-size: 50px;
}
}
